
        <!-- BEGIN layer.twig -->
        <div class="image-container">
            <img id="{{ image_num }}" src="{{ image_file }}" style="z-index: {{ zindex }};">
            <div class="{{ controls_num }} controls_main">
                <div class="layertype" title="{{ layername }}"><p>{{ layername }}</p> &nbsp; </div>
                <div class="imagetmb" title="{{ image_file }}"><a href="{{ image_file }}" target="_blank"><img src="{{ image_file }}" style="width: 40px; height: 40px; "></a></div>
                <button onclick="reloadImage('{{ image_num }}')"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></button>
                <button onclick="changeSize('{{ image_num }}', 0.5)"><i class="fa fa-search-minus fa-2x" aria-hidden="true"></i></button>
                <button onclick="changeSize('{{ image_num }}', 2)"><i class="fa fa-search-plus fa-2x" aria-hidden="true"></i></button>
                <button onclick="toggleDiv('{{ image_num }}', 'toggle{{ zindex }}')"><i id="toggle{{ zindex }}" class="fa fa-toggle-on fa-2x" aria-hidden="true"></i></button>
                <button onclick="swapZIndexes('{{ image_num }}', '{{ image_down }}')"><i class="fa fa-arrows-v fa-2x" aria-hidden="true"></i></button>
                <button onclick="moveLeft('{{ image_num }}', 'grayscale')"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></button>
                <button onclick="moveUp('{{ image_num }}', 'grayscale')"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i></button>
                <button onclick="moveDown('{{ image_num }}', 'grayscale')"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></button>
                <button onclick="moveRight('{{ image_num }}', 'grayscale')"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button>
                <button onclick="increaseOpacity('{{ image_num }}', 'grayscale')"><i class="fa fa-sun-o fa-2x" aria-hidden="true"></i></button>
                <button onclick="decreaseOpacity('{{ image_num }}', 'grayscale')"><i class="fa fa-moon-o fa-2x" aria-hidden="true"></i></button>
                <button onclick="changeColor('{{ image_num }}', 'sepia')">Sepia</button>
                <button onclick="showMessage('aseprite {{ host_dir }}{{ atype }}{{ image_file }}')"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></button>
            </div>
        </div>
        <!-- END layer.twig -->
